<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>
   <div><p><strong><%= form.label :name, style: "display: block" %></strong><%= form.text_field :name %> </p> </div>
   <div><p><strong><%= form.label :author, style: "display: block" %></strong><%= form.text_field :author %>  </p> </div>
   <div><p><strong><%= form.label :description, style: "display: block" %></strong><%= form.text_area :description %>  </p> </div>
  <div>
    <div><p><strong><%= form.label :available, style: "display: block" %></strong>
    <%= form.check_box :available, {}, "true", " false" %>
  </div>
  <div><strong>Labels tag </strong>
  <%= form.collection_check_boxes :label_ids, Label.all, :id, :name %>
  </div>
  <div class="actions">
    <%= form.submit "Create this Publication", class: "btn btn-success", data: { disable_with: "Please wait..." } %>
  </div>
<% end %>