<div id="<%= dom_id publication %>">
<div><p><%= publication.id %></p></div>
<div><p><strong>Name:</strong>       <%= publication.name %> </p></div>
<div><p><strong>Author:</strong>     <%= publication.author %> </p></div>
<div><p><strong>Desciption:</strong> <%= publication.description %></p></div>
<div><p><strong>Label</strong>       
<% publication.label_ids.each do |label_id| %>
  <% label = Label.find(label_id) %>
  [<%= label.name %>]
<% end %></p></div>
<div><p><strong>available</strong>      <%= publication.available %></p></div>
</div>