<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto M9</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
    <%= link_to "Home", root_path %>
    <%= link_to "Brands", brands_path %>
    <%= link_to "Products", products_path %>
        <%= link_to "Articles", articles_path %>
  </div>
    <hr>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <%= yield %>
    <hr>
  </body>
</html>
